<div class="info-box-joined flex0">
  <div class="info-box">
    <span class="label">{{localize "PF1RS.Total"}}</span>
    <span class="value">{{ system.maxActions }}</span>
  </div>
  <div class="info-box">
    <span class="label">{{localize "PF1RS.FromRank"}}</span>
    <span class="value">{{ actions.rank }}</span>
  </div>
  <div class="info-box">
    <span class="label">{{localize "PF1RS.FromStrategist"}}</span>
    <span class="value">{{ actions.strategist }}</span>
  </div>
</div>

<ul class="item-list">
  <li class="flexrow item-list-header">
    <span class="item-name">{{localize "PF1RS.Action"}}</span>
    <span class="item-detail item-bonus">{{localize "PF1RS.Bonus"}}</span>
    <span class="item-detail item-check">{{localize "PF1RS.OrgCheck"}}</span>
  </li>
  {{#each actions.available}}
  <li class="flexrow item">
    <div class="item-name">
      {{#if available}}
      <i class="fa-regular fa-square-check"></i>
      {{else}}
      <i class="fa-regular fa-square"></i>
      {{/if}}
      <span>{{ label }}</span>
      {{#if compendiumEntry}}
      <a class="compendium-entry" data-compendium-entry="{{ compendiumEntry }}">
        <i class="fa-solid fa-book"></i>
      </a>
      {{/if}}
    </div>
    <div class="item-detail item-bonus">{{ changeBonus }}</div>
    <div class="item-detail item-check">{{ check }}</div>
  </li>
  {{/each}}
</ul>
