<div class="flexrow radio">
  {{#if defaultSource}}
  <input id="default-source" type="radio" name="team" value="" checked />
  <label for="default-source">{{localize "PF1RS.NoTeam"}}</label>
  {{/if}}
  {{#each sources}}
  <input id="source-{{ id }}" type="radio" name="team" value="{{ id }}" />
  <label for="source-{{ id }}">{{ name }}</label>
  {{/each}}
</div>
