<div class="info-box-joined flex0">
  <div class="info-box">
    <h5>{{localize "PF1RS.TotalActions"}}</h5>
    <span class="value">{{ system.maxActions }}</span>
  </div>
  <div class="info-box">
    <h5>{{localize "PF1RS.FromRank"}}</h5>
    <span class="value">{{ actions.rank }}</span>
  </div>
  <div class="info-box">
    <h5>{{localize "PF1RS.FromStrategist"}}</h5>
    <span class="value">{{ actions.strategist }}</span>
  </div>
</div>

<ul class="skills-list">
  {{#each actions.available}}
  <li class="skill compendium{{#unless available}} disabled{{/unless}}" data-action-id="{{ id }}">
    <div class="skill-name" data-tooltip-extended="action.{{ id }}">
      <div class="details">
        {{#if available}}
        <i class="far fa-square-check"></i>
        {{else}}
        <i class="far fa-square"></i>
        {{/if}}
        <span>{{ label }}</span>
        {{#if showSafehouses}}
        <div data-tooltip="PF1RS.SafehouseCount">
          {{numberInput @root.system.safehouses class="safehouse-input" name="system.safehouses" step=1 min=0}}
        </div>
        {{/if}}
        <div class="tag-list">
          {{#each sources}}
          <span class="tag">{{ name }}</span>
          {{/each}}
        </div>
      </div>
      <div class="controls">
        {{#if compendiumEntry}}
        <a class="compendium-entry" data-compendium-entry="{{ compendiumEntry }}" data-document-type="JournalEntry">
          <i class="fas fa-book compendium-icon"></i>
        </a>
        {{/if}}
      </div>
    </div>
    <div>
      {{#if check}}
      <a class="action roll{{#unless available}} disabled{{/unless}}" data-tooltip="PF1RS.RollAction">
        <i class="fa-solid fa-dice-d20"></i>
      </a>
      {{/if}}
    </div>
    <span class="text-box skill-mod readonly" data-tooltip="PF1RS.Bonus">{{ numberFormat bonus sign=true }}</span>
    <span data-tooltip="PF1RS.OrgCheck">{{ check }}</span>
  </li>
  {{/each}}
</ul>
