<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="allies"}}

  <ul class="filter-list flexrow" data-category="allies">
    {{#each sections.allies as |section sid|}}
    <li class="filter-item" data-category="allies" data-filter="{{ section.id }}">{{ section.label }}</li>
    {{/each}}
  </ul>
</div>

<ol class="item-groups-list">
  {{#each sections.allies as |section sid|}}
  {{#unless section._hidden}}
  <ol class="item-list">
    <li class="item-list-header flexrow">
      <div class="item-name">
        <h3>{{ section.label }}</h3>
      </div>

      {{#if @root.owner}}
      <div class="item-controls">
        <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{ section.path }}">
          <i class="fas fa-plus"></i>
        </a>
        <a data-action="browse" data-category="ally" data-tooltip="{{ section.browseLabel }}">
          <i class="fas fa-folder-plus"></i>
        </a>
      </div>
      {{/if}}
    </li>
    {{#each section.items as |item iid|}}
    <li class="item flexrow" data-item-id="{{ item.id }}">
      <div class="item-name rollable">
        <div
          class="item-image"
          style="background-image: url(&quot;{{ item.img }}&quot;)"
          data-tooltip="PF1.DisplayInChat"
        ></div>
        <h4>{{ item.name }}</h4>
      </div>

      {{#if @root.owner}}
      <div class="item-controls">
        <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
        <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
        <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{/unless}}
  {{/each}}
</ol>
