<ol class="item-groups-list">
  <ol class="item-list">
    <li class="item-list-header flexrow">
      <div class="item-detail item-position">
        <h3>{{localize "PF1RS.Position"}}</h3>
      </div>
      <div class="item-detail item-actor">
        <label>{{localize "PF1RS.Officer"}}</label>
      </div>
      <div class="item-detail item-officer-bonus">
        <label>{{localize "PF1.Bonus"}}</label>
      </div>
      <div class="item-detail item-teams-managed">
        <label>{{localize "PF1RS.TeamsManaged"}}</label>
      </div>
      {{#if @root.owner}}
      <div class="item-controls one-button">
        <a class="recruiter-create" data-tooltip="PF1RS.AddRecruiter">
          <i class="fa-solid fa-plus"></i>
        </a>
      </div>
      {{/if}}
    </li>

    {{#each officers}}
    <li class="flexrow item">
      <div class="item-detail item-position">
        <span>{{ label }}</span>
      </div>
      <div class="item-detail item-actor">
        <select name="system.officers.{{ id }}.actorId">
          {{selectOptions @root.validOfficerOptions selected=actorId}}
        </select>
      </div>
      <div class="item-detail item-officer-bonus">
        <span>{{ numberFormat bonus sign=true }} {{ bonusType }}</span>
      </div>
      <div class="item-detail item-teams-managed">
        <span>{{#if actorId}} {{ currTeamsManaged }} / {{ maxTeamsManaged }} {{/if}}</span>
      </div>
      <div class="item-controls one-button"></div>
    </li>
    {{/each}}

    {{#each recruiters as |recruiter idx|}}
    <li class="flexrow item" data-item-id="{{ id }}">
      <div class="item-detail item-position">
        <span>{{ label }}</span>
      </div>
      <div class="item-detail item-actor">
        <select name="system.officers.recruiters.{{ idx }}.actorId">
          {{selectOptions @root.validOfficerOptions selected=actorId}}
        </select>
      </div>
      <div class="item-detail item-officer-bonus">
        <span>{{ numberFormat bonus sign=true }} {{ bonusType }}</span>
      </div>
      <div class="item-detail item-teams-managed">
        <span>{{#if actorId}} {{ currTeamsManaged }} / {{ maxTeamsManaged }} {{/if}}</span>
      </div>
      <div class="item-controls one-button">
        {{#if canDelete}}
        <a class="recruiter-delete" data-tooltip="PF1RS.RemoveRecruiter">
          <i class="fa-solid fa-trash"></i>
        </a>
        {{/if}}
      </div>
    </li>
    {{/each}}
  </ol>
</ol>
