<div class="inventory-filters flexrow">
  {{~> "systems/pf1/templates/internal/item-search.hbs" category="teams"}}

  <ul class="filter-list flexrow" data-category="teams">
    {{#each sections.teams as |section sid|}}
    <li class="filter-item" data-category="teams" data-filter="{{ section.id }}">{{ section.label }}</li>
    {{/each}}
  </ul>
</div>

<ol class="item-groups-list">
  {{#each sections.teams as |section sid|}}
  {{#unless section._hidden}}
  <ol class="item-list">
    <li class="item-list-header flexrow">
      <div class="item-name">
        <h3>{{ section.label }}</h3>
      </div>
      {{#if section.interface.showType}}
      <div class="item-detail item-type">
        <label>{{localize "PF1RS.Type"}}</label>
      </div>
      {{/if}}
      <div class="item-detail item-tier">
        <span>{{localize "PF1RS.TeamTier"}}</span>
      </div>
      <div class="item-detail item-manager">
        <span>{{localize "PF1RS.Manager"}}</span>
      </div>
      <div class="item-detail item-size">
        <span>{{localize "PF1RS.TeamSize"}}</span>
      </div>
      <div class="item-detail item-team-bonus">
        <span>{{localize "PF1RS.Bonus"}}</span>
      </div>
      <div class="item-detail item-disabled">
        <span>{{localize "PF1RS.Disabled"}}</span>
      </div>
      <div class="item-detail item-missing">
        <span>{{localize "PF1RS.Missing"}}</span>
      </div>

      {{#if @root.owner}}
      <div class="item-controls">
        <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{ section.path }}">
          <i class="fas fa-plus"></i>
        </a>
        <a data-action="browse" data-category="team" data-tooltip="{{ section.browseLabel }}">
          <i class="fas fa-folder-plus"></i>
        </a>
      </div>
      {{/if}}
    </li>

    {{#each section.items as |item iid|}}
    <li class="item flexrow" data-item-id="{{ item.id }}">
      <div class="item-name rollable">
        <div
          class="item-image"
          style="background-image: url(&quot;{{ item.img }}&quot;)"
          data-tooltip="PF1.DisplayInChat"
        ></div>
        <h4>{{ item.name }}</h4>
      </div>
      {{#if section.interface.showType}}
      <div class="item-detail item-type">
        <span>{{ teamType }}</span>
      </div>
      {{/if }}
      <div class="item-detail item-tier">
        <span>{{ system.tier }}</span>
      </div>
      <div class="item-detail item-manager">
        <span>{{ system.managerName }}</span>
      </div>
      <div class="item-detail item-size">
        <span>{{ system.size }}</span>
      </div>
      <div class="item-detail item-team-bonus">
        <span>{{ system.bonus }}</span>
      </div>
      <a class="item-detail item-disabled item-toggle-data" data-name="disabled">
        {{#if system.disabled}}
        <i class="fas fa-check"></i>
        {{else}}
        <i class="fas fa-times"></i>
        {{/if}}
      </a>
      <a class="item-detail item-missing item-toggle-data" data-name="missing">
        {{#if system.missing}}
        <i class="fas fa-check"></i>
        {{else}}
        <i class="fas fa-times"></i>
        {{/if}}
      </a>
      {{#if @root.owner}}
      <div class="item-controls">
        <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fas fa-edit"></i></a>
        <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fas fa-copy"></i></a>
        <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fas fa-trash"></i></a>
      </div>
      {{/if}}
    </li>
    {{/each}}
  </ol>
  {{/unless}}
  {{/each}}
</ol>

<hr />

<footer>
  <div class="info-box-joined">
    <div class="info-box">
      <h5>{{localize "PF1RS.CurrTeams"}}</h5>
      <span class="value">{{ teamCount.active }}</span>
    </div>
    <div class="info-box">
      <h5>{{localize "PF1RS.FromRank"}}</h5>
      <span class="value">{{ teamCount.levels }}</span>
    </div>
    <div class="info-box">
      <h5>{{localize "PF1RS.FromBonus"}}</h5>
      <span class="value">{{ teamCount.bonus }}</span>
    </div>
    <div class="info-box">
      <h5>{{localize "PF1RS.MaxTeams"}}</h5>
      <span class="value">{{ teamCount.max }}</span>
    </div>
  </div>
</footer>
