<div class="form-group">
  <label>{{localize "PF1RS.Type"}}</label>
  <div class="form-fields">
    <select name="system.subType">
      {{selectOptions subTypeOptions selected=system.subType}}
    </select>
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.Team"}}</label>
  <div class="form-fields">
    {{#if isUnique}}
    <span>{{localize "PF1RS.Teams.SubTypes.Unique"}}</span>
    {{else}}
    <select name="system.baseType">
      {{selectOptions baseTypeOptions selected=system.baseType}}
    </select>
    {{/if}}
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.TeamTier"}}</label>
  <div class="form-fields">
    <input type="number" step="1" name="system.tier" value="{{ system.tier }}" />
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.TeamSize"}}</label>
  <div class="form-fields">
    <input type="number" step="1" name="system.size" value="{{ system.size }}" />
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.Manager"}}</label>
  <div class="form-fields">
    <select name="system.managerId">
      {{selectOptions validManagerOptions selected=system.managerId}}
    </select>
    <span class="manager-bonus">{{localize "PF1RS.Bonus"}} {{ system.bonus }}</span>
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.GrantedActions"}}</label>
  <div class="form-fields">
    <ul class="traits-list tag-list">
      {{#each actions}}
      <li class="tag">{{ this }}</li>
      {{/each}}
    </ul>
    <a class="trait-selector" data-title="PF1RS.TODO" data-options="rebellionActions" data-for="system.rActions">
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
  </div>
</div>
