<div class="form-group">
  <label>{{localize "PF1RS.Team"}}</label>
  <div class="form-fields">
    {{#if isUnique}}
    <span>{{localize "PF1RS.Teams.SubTypes.Unique"}}</span>
    {{else}}
    <select name="system.baseType">
      {{selectOptions baseTypeOptions selected=system.baseType}}
    </select>
    {{/if}}
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.TeamTier"}}</label>
  <div class="form-fields">
    <input type="number" step="1" name="system.tier" value="{{ system.tier }}" />
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.TeamSize"}}</label>
  <div class="form-fields">
    <input type="number" step="1" name="system.size" value="{{ system.size }}" />
  </div>
</div>

<div class="form-group">
  <label>{{localize "PF1RS.Manager"}}</label>
  <div class="form-fields">
    <select name="system.managerId">
      {{selectOptions validManagerOptions selected=system.managerId}}
    </select>
    <div class="flex0">
      <span>{{localize "PF1RS.Bonus"}}</span>
      <span>{{ system.bonus }}</span>
    </div>
  </div>
</div>

<h4 class="section-header">{{localize "PF1RS.GrantedActions"}}</h4>
<div class="form-group">
  <span>{{ actions }}</span>
  <a class="flex0 edit-actions" data-tooltip="PF1RS.EditItem">
    <i class="fa-solid fa-pen-to-square"></i>
  </a>
</div>

<h4 class="section-header">{{localize "PF1RS.Type"}}</h4>
<div class="flex0">
  <select class="sub-type-selector" name="system.subType">
    {{selectOptions subTypeOptions selected=system.subType}}
  </select>
</div>
