<div class="event-card">
  <span class="flavor-text">
    {{ label }}
  </span>

  <div class="dice-roll">
    <div class="dice-result">
      <h3 class="roll-total dice-total{{#if hasDetails}} has-details{{/if}}" data-tooltip="{{formula}}">
        <i class="fa-solid fa-dice-d20" inert></i>
        {{total}}
      </h3>

      {{{details}}}
    </div>
  </div>

  {{#if eventOccurred}}
  <span>{{localize "PF1RS.EventOccurred"}}</span>
  <button class="roll-event">{{localize "PF1RS.RollEvent"}}</button>
  {{else}}
  <span>{{localize "PF1RS.NoEvent"}}</span>
  {{/if}}
</div>
