<form autocomplete="off">
  <header class="header">
    <img src="{{img}}" data-edit="img" />
    <h1>
      <input type="text" name="name" value="{{name}}" data-dtype="String" />
    </h1>
  </header>

  <section>
    <h3>Details</h3>
    <div class="flexrow">
      <div class="horizLabeledValue">
        <input type="checkbox" {{checked system.persistent}} name="system.persistent" />
        <span>{{localize "PF1RS.Persistent"}}?</span>
      </div>
      <div class="horizLabeledValue">
        <input type="checkbox" {{checked system.mitigated}} name="system.mitigated" />
        <span>{{localize "PF1RS.Mitigated"}}?</span>
      </div>
    </div>
  </section>

  <section>
    <h3>Changes</h3>
    <div class="changes">
      <span>{{localize "PF1RS.Change"}}</span>
      <span>{{localize "PF1RS.Target"}}</span>
      <a class="add-change"><i class="fa-solid fa-plus"></i></a>
      {{#each changes as |change idx|}}
        <input type="hidden" value="{{id}}" name="system.changes.{{idx}}.id" />
        <input type="hidden" value="{{ability}}" name="system.changes.{{idx}}.ability" />
        <input type="number" value="{{bonus}}" name="system.changes.{{idx}}.bonus" step="1" placeholder="Formula" />
        <span class="change-target" data-change="{{id}}">{{abilityLabel}}</span>
        <a class="delete-change" data-change="{{id}}"><i class="fa-solid fa-trash"></i></a>
      {{/each}}
    </div>
  </section>

  <section class="description">
    <h3>Description</h3>
    {{editor enrichedDesc target="system.description" button=true}}
  </section>

</form>