<form autocomplete="off">
  <header class="header">
    <img src="{{ img }}" data-edit="img" />
    <h1>
      <input type="text" name="name" value="{{ name }}" data-dtype="String" />
    </h1>
  </header>

  <section>
    <h3>Details</h3>
    <div class="flexcol">
      <select name="system.subType">
        {{selectOptions subTypeChoices selected=system.subType}}
      </select>
      <select name="system.type">
        {{selectOptions teamTypeChoices selected=system.type}}
      </select>
      <select name="system.managerId">
        {{selectOptions validManagerChoices selected=system.managerId}}
      </select>
      <div class="flexrow">
        <span>Size:</span>
        <input type="number" step="1" name="system.size" value="{{ system.size }}" />
      </div>
      <span>Bonus: {{ system.bonus }}</span>
      <div class="flexrow">
        <div class="flexrow">
          <span>Disabled:</span>
          <input type="checkbox" name="system.disabled" {{checked system.disabled}} />
        </div>
        <div class="flexrow">
          <span>Missing:</span>
          <input type="checkbox" name="system.missing" {{checked system.missing}} />
        </div>
      </div>
      <div class="flexcol">
        {{#each actionLabels}}
        <span>{{ this }}</span>
        {{/each}}
        <a class="edit-actions" data-tooltip="PF1RS.EditItem">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </div>
    </div>
  </section>

  <section class="description">
    <h3>Description</h3>
    {{editor enrichedDesc target="system.description" button=true}}
  </section>
</form>
