<ol class="item-list">
  <li class="flexrow item-list-header">
    <span class="item-name">{{localize "PF1RS.Teams.SubTypes.General"}}</span>
    <div class="item-detail item-controls">
      <a class="item-control item-create" data-type="{{ allyType }}" data-tooltip="PF1RS.CreateItem">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
  </li>
  {{#each allies}}
  <li class="flexrow item" data-id="{{ id }}">
    <div class="item-name expand-summary">
      <div class="item-image" style="background-image: url('{{ img }}')"></div>
      <span>{{ name }}</span>
    </div>
    <div class="flexrow item-detail item-controls">
      <a class="item-control item-edit" data-tooltip="PF1RS.EditItem">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a class="item-control item-delete" data-tooltip="PF1RS.DeleteItem">
        <i class="fa-solid fa-trash"></i>
      </a>
    </div>
  </li>
  {{/each}}
</ol>
